body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
margin: 0;
}

a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
font-style: normal;
}

button {
cursor: pointer;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    display: block;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.header {
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    /* width: 1158px; */
    width: 320px;
    /* padding-left: 16px; */
    padding-right: 16px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-navigation {
    /* display: flex; */
    /* flex-grow: 1; */
    /* justify-content: space-between; */
    /* margin-right: 332px; */
    align-items: center;
}

.header-menu-list {
    /* display: flex; */
    display: none;
    gap: 40px;
    justify-content: space-between;
}

.header-menu-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
/* margin-right: 76px; */
/* display: flex; */
/* align-items: center; */
}

.logo-part {
color: #2e2f42;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.current {
position: relative;
color: #404bbf;
}

.current::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.address {
font-style: normal;
margin-left: auto;
}

.address-menu-list {
    /* display: flex; */
    display: none;
    align-items: center;
    gap: 40px;
}

.address-menu-link {
}

.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-top: 24px;
padding-bottom: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
color: #404bbf;
}

.header-solid-button {
    display: block;
    justify-content: space-between;
    /* align-items: center; */
    /* margin-left: auto; */
    position: absolute;
    right: 16px;
    border: none;
    padding: 0;
    background-color: transparent; 
}

.header-solid-icon {
    fill: #2f2f37;
}

.mob-meny {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100%;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mob-button-close {
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.mob-icon-close {
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
    color: #404bbf;
}


.mob-address-menu-list {
    /* margin-bottom: 48px; */
}

.mob-address-menu-link {
    padding-bottom: 24px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-address-link:hover
.mob-address-link:focus {
    color: #404bbf;
}

.mob-contact-list {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.mob-contact-item {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}

.mob-contact-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-icon {
    fill: #f4f4fd;
}

/* HERO */

.hero {
    max-width: 1440px;
    /* padding-top: 188px;
    padding-bottom: 188px; */
    padding-top: 72px;
    padding-bottom: 72px;
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-mob-2x.jpg);
    }
    
}

.hero-container {
    justify-content: center;
    align-items: center;
}

.hero-title {
font-weight: 700;
/* font-size: 56px; */
font-size: 36px;
/* line-height: 1.07; */
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto 72px auto;
}

.hero-buy-btn {
background-color: #4d5ae5;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
border: none;
display: block;
min-width: 169px;
height: 56px;
margin: 0 auto 0 auto;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
background-color: #404bbf;
}

/* ADVANTAGES */
.advantages {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 48px;
}

.advantages-container {
    display: flex;
    align-items: center;
}

.advantages-title {}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* gap: 24px; */
    gap: 72px;
}

.advantages-item {
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    width: 100%;
}

.advantages-container-img {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: none;
    /* align-items: center;
    justify-content: center; */
}

.advantages-img {
    margin: 24px 100px;
}

.advantages-subtitle {
/* font-weight: 500;
font-size: 20px; */
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.advantages-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* TEAM */

.team {
background: #f4f4fd;
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* gap: 72px; */
}

.team-wrap {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 72px;
}

.team-item {
background-color: #FFFFFF;
/* width: calc((100% - 24px * 3) / 4); */
width: 100%;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team .container {
    padding-left: 28px;
    padding-right: 28px;
}

.team-img {
    margin: 0 auto;
}

.info {
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px
}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
text-align: center;
margin-bottom: 8px;
}

.team-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.team-contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-contact-link {
display: flex;
align-items: center;
justify-content: center; 
fill: #f4f4fd;
width: 40px;
height: 40px;
background-color: #4d5ae5;
border-radius: 50%;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-contact-icon {
fill: #f4f4fd;
}

.team-contact-link:hover {
    background-color: #404bbf;   
}

.team-contact-link:focus {
    background-color: #404bbf;

}
/* PORTFOLIO */

.portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
background-color: #FFFFFF;
/* width: ((100% - 2 * 24px) / 3); */
width: 288px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cover-wrap {
position: relative;
overflow: hidden;
}

.portfolio-img {
    width: 288px;
    height: 280px;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-border {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* FOOTER */
.footer {
background: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
}

.footer-container {
    display: flex;
    /* align-items: baseline; */
    flex-wrap: wrap;
    gap: 72px;
    max-width: 320px;
    height: 100%;
}

.footer-container-logo {
    /* margin-right: 120px; */
}

.footer-cont-text {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
}

.footer-logo-part {

}

.footer-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
justify-content: center;
}

.footer-contacts {
    /* margin-right: 80px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.footer-cont-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
text-align: center;

}

.footer-contact-list {
    display: flex;
    gap: 16px;
}

/* align-items: center; */
/* justify-content: center; */
/* flex-direction: row; */
/* width: 232px; */
/* height: 40px; */

.footer-contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-link {
width: 40px;
height: 40px;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-icon {
fill: #f4f4fd;
}

.footer-contact-link:hover {
    background-color: #31d0aa;
}

.footer-contact-link:focus {
    background-color: #31d0aa;
}

.footer-logo-part {
color: #f4f4fd;
}

.footer-subscribe {
    /* position: relative; */
    
}

.footer-subscribe-form {
    display: flex;
    justify-content: center;
    /* gap: 24px; */
}

.footer-subscribe-text {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;

}

.footer-subscribe-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscribe-input {
    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    background-color: transparent;
    /* margin-right: 24px; */
    /* padding-left: 16px; */
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-subscribe-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-form {
display: flex;
flex-direction: column;
gap: 24px;
margin-top: 16px;
}

.footer-subscribe-button {
display: flex;
align-items: center;
justify-content: center;
width: 165px;
height: 40px;
/* padding-left: 24px;
padding-right: 24px; */
}
/* border-radius: 4px;
width: 165px;
height: 40px;
background-color: #4d5ae5;
padding-left: ;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center; */

.button-text {
margin: auto;
border: none;
background-color: #4d5ae5;
color: #fff;
font-weight: 500;
line-height: 150%;
letter-spacing: 0.04em;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-subscribe-icon {
    fill: #fff;
    height: 24px;
    width: 24px;
    margin-left: 16px;

}

/* backdrop */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus svg {
fill: #FFFFFF;
}

.title-bac {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* padding-top: 48px; */
}

.modal-title {
    text-align: center;
    margin-bottom: 16px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
        padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
    /* border: 1px solid #4d5ae5; */
}

.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 16px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-field {
    margin-top: 16px;
    margin-bottom: 8px;

}
.modal-check {
}

.check-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.check-text-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.modal-check:checked + .check-text span {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}

.button-container {
display: flex;
align-items: center;
justify-content: center;
}

.button-submit {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-submit:hover {
fill: #ffffff;
}

.button-submit:focus {
fill: #ffffff;
}

/* @media screen and (max-width: 767px) {
    .mob-meny {
        display: none;
    }
} */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header-container {
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .header-navigation {
        display: flex;
        align-items: center;
        }
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-solid-button {
        display: none;
    }

    .header-menu-list {
        display: flex;
    }

    .address-menu-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

    }

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(
            rgba(98, 98, 100, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tab.jpg);
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-tab-2x.jpg);
            }
    
        }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

    .advantages-item {
        width: calc((100% - 24px) / 2);
        /* padding-right: 0; */
    }

    .advantages {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-subtitle {
        font-weight: 700;
        font-size: 36px;
    }

    .advantages-container-img {
        display: none;
    }

    .team .container {
        width: 632px;
    }

    .team-wrap {
        /* justify-content: space-between; */
        gap: 64px 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
        padding-right: 0;
    }

    .team-item {
        margin: 0 auto;
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        width: ((100% - 24px) / 2);
        width: 356px;
    }

    .portfolio-img {
        width: 356px;
        height: 300px;
    }

    .footer-container {
        max-width: calc(264px * 2 + 24px);
        flex-direction: row;
        gap: 72px 24px;
        align-items: baseline;
        flex-wrap: wrap;
    }
        
    .footer .footer-logo {
        display: inline-block;
    }

    .footer-container-logo {
        width: 264px;
    
    }

    .footer-text {
        justify-content: left;
    }

    .footer-contacts {
        width: 208px;
    }

    .footer-subscribe-text {
        justify-content: left;
    }

    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
    
    .footer-cont-text {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }


    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-img.jpg);
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-desk-2x.jpg);
            }
        }
    
    .header-solid-button {
        display: none;
    }

    .address-menu-list {
        gap: 40px;
        flex-direction: row;
    }
    
    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }

    .header-menu-list {
        display: flex;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        }
    
    .team .container {
        width: 1158px;
    }

    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-list {
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 24px * 3) / 4);
    }
        
    .advantages-container-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px * 3) / 4);
        }

    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-item {
        width: ((100% - 2 * 24px) / 3);
    }

    .portfolio-border {
        width: 360px;
    }

    .portfolio-img {
    width: 360px;
    height: 300px;
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .footer-container {
        max-width: 1158px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: unset;
    }

    .footer-container-logo {
        margin-right: 120px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .footer-contacts {
        margin-right: 80px;
        margin-left: 0;
        margin-bottom: 0;
    }


}