body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
margin: 0;
}

a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
font-style: normal;
}

button {
cursor: pointer;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    display: block;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.header {
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 332px;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
display: flex;
align-items: center;
}

.logo-part {
color: #2e2f42;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.current {
position: relative;
color: #404bbf;
}

.current::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.address {
font-style: normal;
margin-left: auto;
}

.address-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-menu-link {
}

.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-top: 24px;
padding-bottom: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
color: #404bbf;
}

.title {}

.hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.hero-container {
    justify-content: center;
    align-items: center;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto 48px auto;
}

.hero-buy-btn {
background-color: #4d5ae5;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 4px;
border: none;
display: block;
min-width: 169px;
height: 56px;
margin: 0 auto 0 auto;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
background-color: #404bbf;
}

/* ADVANTAGES */
.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-container {
    display: flex;
    align-items: center;
}

.advantages-title {}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.advantages-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantages-container-img {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.advantages-img {
    margin: 24px 100px;

}

.advantages-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.advantages-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* TEAM */

.team {
background: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-wrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-item {
background-color: #FFFFFF;
width: calc((100% - 24px * 3) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
}

.info {
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px
}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
text-align: center;
}

.team-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.team-contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team-contact-link {
display: flex;
align-items: center;
justify-content: center; 
fill: #f4f4fd;
width: 40px;
height: 40px;
background-color: #4d5ae5;
border-radius: 50%;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-contact-icon {
fill: #f4f4fd;
}

.team-contact-link:hover {
    background-color: #404bbf;   
}

.team-contact-link:focus {
    background-color: #404bbf;

}
/* PORTFOLIO */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
background-color: #FFFFFF;
width: ((100% - 2 * 24px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cover-wrap {
position: relative;
overflow: hidden;
}

.portfolio-img {
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-border {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* FOOTER */
.footer {
background: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
align-items: center;
justify-content: center;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.footer-cont-text {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-part {

}

.footer-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.footer-contacts {
    margin-right: 80px;
    
}

.footer-cont-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-contact-list {
    display: flex;
    gap: 16px;
}

/* align-items: center; */
/* justify-content: center; */
/* flex-direction: row; */
/* width: 232px; */
/* height: 40px; */

.footer-contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-link {
width: 40px;
height: 40px;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-icon {
fill: #f4f4fd;
}

.footer-contact-link:hover {
    background-color: #31d0aa;
}

.footer-contact-link:focus {
    background-color: #31d0aa;
}

.footer-logo-part {
color: #f4f4fd;
}

.footer-subscribe {
    position: relative;
    
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-text {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-subscribe-label {
    
}

.footer-subscribe-input {
    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    margin-right: 24px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-subscribe-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-button {
display: flex;
align-items: center;
justify-content: center;
min-width: 165px;
height: 40px;
padding-left: 24px;
padding-right: 24px;
}
/* border-radius: 4px;
width: 165px;
height: 40px;
background-color: #4d5ae5;
padding-left: ;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center; */

.button-text {
border: none;
background-color: #4d5ae5;
color: #fff;
font-weight: 500;
line-height: 150%;
letter-spacing: 0.04em;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-subscribe-icon {
    fill: #fff;
    height: 24px;
    width: 24px;
    margin-left: 16px;

}

/* backdrop */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus svg {
fill: #FFFFFF;
}

.title-bac {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* padding-top: 48px; */
}

.modal-title {
    text-align: center;
    margin-bottom: 16px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
        padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
    /* border: 1px solid #4d5ae5; */
}

.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 16px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-field {
    margin-top: 16px;
    margin-bottom: 8px;

}
.modal-check {
}

.check-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.check-text-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.modal-check:checked + .check-text span {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}

.button-container {
display: flex;
align-items: center;
justify-content: center;
}

.button-submit {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-submit:hover {
fill: #ffffff;
}

.button-submit:focus {
fill: #ffffff;
}